body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:1275px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:1275px;
}
#u458 {
  position:absolute;
  left:2px;
  top:630px;
  width:1796px;
  word-wrap:break-word;
}
#u459 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u460 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u461 {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:100px;
  text-align:right;
}
#u462 {
  position:absolute;
  left:2px;
  top:42px;
  width:1796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#2D2623;
  text-align:right;
}
#u463 {
  position:absolute;
  left:1256px;
  top:20px;
  width:244px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#2D2623;
  text-align:right;
}
#u464 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:76px;
}
#u465 {
  position:absolute;
  left:300px;
  top:12px;
  width:152px;
  height:76px;
}
#u466 {
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u468 {
  position:absolute;
  left:0px;
  top:100px;
  width:1800px;
  height:50px;
}
#u469 {
  position:absolute;
  left:2px;
  top:17px;
  width:1796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2D2523;
}
#u470 {
  position:absolute;
  left:300px;
  top:100px;
  width:200px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2D2523;
}
#u471 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2D2523;
}
#u472 {
  position:absolute;
  left:500px;
  top:100px;
  width:200px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2D2523;
}
#u473 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2D2523;
}
#u474 {
  position:absolute;
  left:699px;
  top:100px;
  width:200px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2D2523;
}
#u475 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u476 {
  position:absolute;
  left:899px;
  top:100px;
  width:200px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u477 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(216, 33, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u478 {
  position:absolute;
  left:1299px;
  top:100px;
  width:200px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u479 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u480 {
  position:absolute;
  left:1099px;
  top:100px;
  width:200px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u481 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:100px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483 {
  position:absolute;
  left:0px;
  top:1275px;
  width:1800px;
  height:100px;
}
#u484 {
  position:absolute;
  left:2px;
  top:42px;
  width:1796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:44px;
}
#u485 {
  position:absolute;
  left:718px;
  top:1303px;
  width:404px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u486 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
#u487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1801px;
  height:101px;
}
#u487 {
  position:absolute;
  left:0px;
  top:150px;
  width:1800px;
  height:100px;
}
#u488 {
  position:absolute;
  left:2px;
  top:42px;
  width:1796px;
  word-wrap:break-word;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:945px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u489 {
  position:absolute;
  left:300px;
  top:290px;
  width:1200px;
  height:945px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u490 {
  position:absolute;
  left:2px;
  top:464px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:281px;
}
#u491 {
  position:absolute;
  left:350px;
  top:535px;
  width:1100px;
  height:280px;
}
#u492 {
  position:absolute;
  left:2px;
  top:132px;
  width:1096px;
  word-wrap:break-word;
}
#u493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u494 {
  position:absolute;
  left:435px;
  top:338px;
  width:80px;
  height:80px;
}
#u495 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u496 {
  position:absolute;
  left:435px;
  top:428px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u497 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u498 {
  position:absolute;
  left:350px;
  top:468px;
  width:250px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u499 {
  position:absolute;
  left:0px;
  top:7px;
  width:250px;
  word-wrap:break-word;
}
#u500 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u501 {
  position:absolute;
  left:860px;
  top:338px;
  width:80px;
  height:80px;
}
#u502 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u503 {
  position:absolute;
  left:860px;
  top:428px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u504 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u505 {
  position:absolute;
  left:778px;
  top:468px;
  width:250px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u506 {
  position:absolute;
  left:0px;
  top:7px;
  width:250px;
  word-wrap:break-word;
}
#u507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u507 {
  position:absolute;
  left:1290px;
  top:338px;
  width:160px;
  height:160px;
}
#u508 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  word-wrap:break-word;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Elephant Bold', 'Elephant Normal', 'Elephant';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u509 {
  position:absolute;
  left:736px;
  top:875px;
  width:325px;
  height:50px;
  font-family:'Elephant Bold', 'Elephant Normal', 'Elephant';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u510 {
  position:absolute;
  left:0px;
  top:2px;
  width:325px;
  white-space:nowrap;
}
#u511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Elephant Normal', 'Elephant';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u511 {
  position:absolute;
  left:504px;
  top:935px;
  width:793px;
  height:80px;
  font-family:'Elephant Normal', 'Elephant';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u512 {
  position:absolute;
  left:0px;
  top:9px;
  width:793px;
  white-space:nowrap;
}
#u513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:75px;
}
#u513 {
  position:absolute;
  left:699px;
  top:381px;
  width:1px;
  height:74px;
}
#u514 {
  position:absolute;
  left:2px;
  top:29px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:75px;
}
#u515 {
  position:absolute;
  left:1121px;
  top:381px;
  width:1px;
  height:74px;
}
#u516 {
  position:absolute;
  left:2px;
  top:29px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u517 {
  position:absolute;
  left:393px;
  top:1035px;
  width:240px;
  height:30px;
}
#u517_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u518 {
  position:absolute;
  left:350px;
  top:1035px;
  width:43px;
  height:30px;
}
#u519 {
  position:absolute;
  left:0px;
  top:7px;
  width:43px;
  white-space:nowrap;
}
#u520 {
  position:absolute;
  left:815px;
  top:1035px;
  width:240px;
  height:30px;
}
#u520_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u521 {
  position:absolute;
  left:745px;
  top:1035px;
  width:71px;
  height:30px;
}
#u522 {
  position:absolute;
  left:0px;
  top:7px;
  width:71px;
  white-space:nowrap;
}
#u523 {
  position:absolute;
  left:1210px;
  top:1035px;
  width:240px;
  height:30px;
}
#u523_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u524 {
  position:absolute;
  left:1139px;
  top:1035px;
  width:71px;
  height:30px;
}
#u525 {
  position:absolute;
  left:0px;
  top:7px;
  width:71px;
  white-space:nowrap;
}
#u526 {
  position:absolute;
  left:420px;
  top:1085px;
  width:1030px;
  height:30px;
}
#u526_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u527 {
  position:absolute;
  left:350px;
  top:1085px;
  width:71px;
  height:30px;
}
#u528 {
  position:absolute;
  left:0px;
  top:7px;
  width:71px;
  white-space:nowrap;
}
#u529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(216, 33, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u529 {
  position:absolute;
  left:780px;
  top:1155px;
  width:240px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u530 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  word-wrap:break-word;
}
